In [2]:
import pandas as pd

In [11]:
df = pd.read_csv("/Users/Sanket/Documents/GitHub/Real-Time-Data-Pipeline/dataset/scooter.csv")

In [91]:
df.sample(5)

,month,trip_id,region_id,vehicle_id,started_at,ended_at,DURATION,start_location_name,end_location_name,user_id,trip_ledger_id
31888,July,2389782,202,3307879,7/17/2019 1:19,7/17/2019 1:28,0:09:00,"1726 Lomas Blvd NE, Albuquerque, NM 87106, USA","1600 Lomas Blvd NE, Albuquerque, NM 87102, USA",41470867,2249316
30284,July,2339336,202,1974643,7/13/2019 22:59,7/13/2019 23:00,0:01:00,"201 Marquette Ave NW, Albuquerque, NM 87102, USA","201 Marquette Ave NW, Albuquerque, NM 87102, USA",42456137,2197012
34171,July,2481246,202,2131133,7/21/2019 23:14,7/21/2019 23:17,0:03:00,"100 1st St SW, Albuquerque, NM 87102, USA","Alvarado Transit Center, Albuquerque, NM 87102...",42377824,2338763
6762,June,1783654,202,9009633,6/4/2019 0:26,6/4/2019 0:43,0:16:29,"3410 Central Ave SE, Albuquerque, NM 87106, USA","3201 Central Ave NE, Albuquerque, NM 87106, USA",38308226,1653552
13783,June,1897792,202,4644449,6/12/2019 23:26,6/12/2019 23:32,0:05:24,"111 Marble Ave NW, Albuquerque, NM 87102, USA","400 Lomas Blvd NW, Albuquerque, NM 87102, USA",39099621,1763826

In [4]:
#Exploratery data analysis - EDA
df.describe()
df['month'].value_counts()
df['DURATION'].value_counts(dropna=False)*100

NaN         230800
0:04:00      82500
0:03:00      80700
0:05:00      72800
0:06:00      64900
             ...
0:37:21        100
1:25:37        100
0:40:15        100
39:24:42       100
1:27:19        100
Name: DURATION, Length: 4136, dtype: int64

In [5]:
#Droping/Filling rows/columns
df.isnull().sum()
df.columns = [x.lower() for x in df.columns]
startValues = {'start_location_name':'Start'}
endValues = {'end_location_name':'End'}
newdf=df[df['start_location_name'].isnull()].fillna(value=startValues)
df.loc[newdf.index] = newdf
newdf=df[df['end_location_name'].isnull()].fillna(value=endValues)
df.loc[newdf.index] = newdf
df[df['end_location_name'].isnull()]
df[df['start_location_name'].isnull()]
newdf = df[df['duration'].isnull()].fillna(value="00:00:00")
df.loc[newdf.index] = newdf
df[df['duration'].isnull()]

Empty DataFrame
Columns: [month, trip_id, region_id, vehicle_id, started_at, ended_at, duration, start_location_name, end_location_name, user_id, trip_ledger_id]
Index: []

In [6]:
#Creating/Modifying Columns
df.columns = [x.lower() for x in df.columns]
df.rename(columns={'DURATION':'duration'},inplace=True)
#df.loc[df['trip_id']==1613335,'newcol']='True'
#df[['trip_id','newcol']].head()
newdf=df['started_at'].head()
newdf.str.split(expand=True)
df.head()

,month,trip_id,region_id,vehicle_id,started_at,ended_at,duration,start_location_name,end_location_name,user_id,trip_ledger_id
0,May,1613335,202,9424537,5/21/2019 18:33,5/21/2019 18:40,0:07:03,"1901 Roma Ave NE, Albuquerque, NM 87106, USA","1899 Roma Ave NE, Albuquerque, NM 87106, USA",8417864,1488546
1,May,1613639,202,9424537,5/21/2019 19:07,5/21/2019 19:12,0:04:57,"1 Domenici Center en Domenici Center, Albuquer...","1111 Stanford Dr NE, Albuquerque, NM 87106, USA",8417864,1488838
2,May,1613708,202,9424537,5/21/2019 19:13,5/21/2019 19:15,0:01:14,"1 Domenici Center en Domenici Center, Albuquer...","1 Domenici Center en Domenici Center, Albuquer...",8417864,1488851
3,May,1613867,202,9424537,5/21/2019 19:29,5/21/2019 19:36,0:06:58,"Rotunda at Science & Technology Park, 801 Univ...","725 University Blvd SE, Albuquerque, NM 87106,...",8417864,1489064
4,May,1636714,202,8926493,5/24/2019 13:38,5/24/2019 13:41,0:03:06,"401 2nd St NW, Albuquerque, NM 87102, USA","401 2nd St NW, Albuquerque, NM 87102, USA",35436274,1511212

In [7]:

df['started_at'] = pd.to_datetime(df['started_at'],format='%m/%d/%Y %H:%M')
df['ended_at'] = pd.to_datetime(df['ended_at'],format='%m/%d/%Y %H:%M')
df.dtypes

month                          object
trip_id                         int64
region_id                       int64
vehicle_id                      int64
started_at             datetime64[ns]
ended_at               datetime64[ns]
duration                       object
start_location_name            object
end_location_name              object
user_id                         int64
trip_ledger_id                  int64
dtype: object

In [13]:
df.isnull().sum()
df.sample(10)
mayData = df[df.month=='August']
mayData
df.drop(columns='region_id',inplace=True)
df

KeyError: "['region_id'] not found in axis"