In [3]:
import pandas as pd

In [63]:
df = pd.read_csv("../dataset/scooter.csv")

In [5]:
df.sample(5)

,month,trip_id,region_id,vehicle_id,started_at,ended_at,DURATION,start_location_name,end_location_name,user_id,trip_ledger_id
3884,May,1731926,202,5177871,5/31/2019 19:25,5/31/2019 19:32,0:06:51,"1 Civic Plaza NW, Albuquerque, NM 87102, USA","330 Tijeras Ave NW, Albuquerque, NM 87102, USA",37454760,1603130
421,May,1646401,202,6779794,5/25/2019 0:35,5/25/2019 0:46,0:11:35,"303 Central Ave NE, Albuquerque, NM 87102, USA","1800 4th St NW, Albuquerque, NM 87102, USA",35542288,1520491
526,May,1649851,202,6810958,5/25/2019 14:32,5/25/2019 14:48,0:16:12,"3125 Summit Pl NE, Albuquerque, NM 87106, USA","3212 Loma Vista Pl NE, Albuquerque, NM 87106, USA",35610475,1523936
5750,June,1768115,202,2799603,6/2/2019 20:46,6/2/2019 20:50,0:03:26,"2550 Central Ave NE, Albuquerque, NM 87106, USA","2550 Central Ave NE, Albuquerque, NM 87106, USA",38007052,1638110
14045,June,1900555,202,8442819,6/13/2019 2:25,6/13/2019 2:54,NaN,"2901 Central Ave NE, Albuquerque, NM 87106, USA","3128 Central Ave SE, Albuquerque, NM 87106, USA",37768153,1766860

In [6]:
#Exploratery data analysis - EDA
df.describe()
df['month'].value_counts()
df['DURATION'].value_counts(dropna=False)*100

NaN         230800
0:04:00      82500
0:03:00      80700
0:05:00      72800
0:06:00      64900
             ...
0:37:21        100
1:25:37        100
0:40:15        100
39:24:42       100
1:27:19        100
Name: DURATION, Length: 4136, dtype: int64

In [73]:
#Droping/Filling rows/columns
df.isnull().sum()
startValues = {'start_location_name':'Start'}
endValues = {'end_location_name':'End'}
newdf=df[df['start_location_name'].isnull()].fillna(value=values)
df.loc[newdf.index]=newdf
df[df['start_location_name'].isnull() & df['end_location_name'].isnull()]
#df[df['end_location_name'].isnull()]
#df[df['start_location_name'].isnull()]

Empty DataFrame
Columns: [month, trip_id, region_id, vehicle_id, started_at, ended_at, DURATION, start_location_name, end_location_name, user_id, trip_ledger_id]
Index: []

In [195]:
#Creating/Modifying Columns
df.columns = [x.lower() for x in df.columns]
df.rename(columns={'DURATION':'duration'},inplace=True)
df.loc[df['trip_id']==1613335,'newcol']='True'
df[['trip_id','newcol']].head()
newdf=df['started_at'].head()
newdf.str.split(expand=True)
df.head()

,month,trip_id,region_id,vehicle_id,started_at,ended_at,duration,start_location_name,end_location_name,user_id,trip_ledger_id,newcol,satrted_at
0,May,1613335,202,9424537,5/21/2019 18:33,5/21/2019 18:40,0:07:03,"1901 Roma Ave NE, Albuquerque, NM 87106, USA","1899 Roma Ave NE, Albuquerque, NM 87106, USA",8417864,1488546,True,2019-05-21 18:33:00
1,May,1613639,202,9424537,5/21/2019 19:07,5/21/2019 19:12,0:04:57,"1 Domenici Center en Domenici Center, Albuquer...","1111 Stanford Dr NE, Albuquerque, NM 87106, USA",8417864,1488838,NaN,2019-05-21 19:07:00
2,May,1613708,202,9424537,5/21/2019 19:13,5/21/2019 19:15,0:01:14,"1 Domenici Center en Domenici Center, Albuquer...","1 Domenici Center en Domenici Center, Albuquer...",8417864,1488851,NaN,2019-05-21 19:13:00
3,May,1613867,202,9424537,5/21/2019 19:29,5/21/2019 19:36,0:06:58,"Rotunda at Science & Technology Park, 801 Univ...","725 University Blvd SE, Albuquerque, NM 87106,...",8417864,1489064,NaN,2019-05-21 19:29:00
4,May,1636714,202,8926493,5/24/2019 13:38,5/24/2019 13:41,0:03:06,"401 2nd St NW, Albuquerque, NM 87102, USA","401 2nd St NW, Albuquerque, NM 87102, USA",35436274,1511212,NaN,2019-05-24 13:38:00

In [205]:
df['started_at'] = pd.to_datetime(df['started_at'],format='%m/%d/%Y %H:%M')
df['ended_at'] = pd.to_datetime(df['ended_at'],format='%m/%d/%Y %H:%M')
df.dtypes

month                          object
trip_id                         int64
region_id                       int64
vehicle_id                      int64
started_at             datetime64[ns]
ended_at               datetime64[ns]
duration                       object
start_location_name            object
end_location_name              object
user_id                         int64
trip_ledger_id                  int64
dtype: object